## Optional: where the in-game "Send feedback" button should send playtesters.
## GitHub example:
## VITE_PLAYTEST_FEEDBACK_URL=https://github.com/OWNER/men-eat-pb/issues/new?template=playtest-feedback.md
## GitLab example:
## VITE_PLAYTEST_FEEDBACK_URL=https://gitlab.com/GROUP/men-eat-pb/-/issues/new
VITE_PLAYTEST_FEEDBACK_URL=
